<div ng-include="'/client/app/views/pages/navbar.html'"></div>

<div class="container">
	<div class="jumbotron" id="home-jum">
		<div id="moodhouse-img">
			<img  src="assets/images/moodhouse.png" alt="moodhouse">
		</div>	
		<h1 class="home-h1">The Mood House</h1>
		
		<div id="author">
			<p>Course: Web Technologies</p>
			<p>Department: The Information School<p>
			<p>Author: Kuan Lu & Yao Ji </p>
			<p>Technologies: AngularJs + JavaScipt + NodeJs + MongoDB</p>
		</div>
	
  	</div>


  	 <a  name="services"></a>
    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                   <p class="lead-0"><img src="assets/images/book-icon.png" alt="book3" width="25" height="25" style="margin-bottom: 3px;"><a href="#"> READ MORE</a></p>
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <div class="home-text">
	                    <h2 class="section-heading"> MOST FAMOUS BOOKS</h2>
	                    <p class="lead">A special thanks to for providing the photographs that you see in this template. Visit their website to become a member.</p>
	                </div>
                </div>
                <div  id="inline">            
                    <a href="#"> <img class="img-responsive" src="assets/images/books/1.jpg" alt="book1"> </a>
                    <a href="#"> <img class="img-responsive" src="assets/images/books/2.jpg" alt="book2"> </a>
                    <a href="#"> <img class="img-responsive" src="assets/images/books/3.jpg" alt="book3"> </a>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->


    <div class="content-section-a">

        <div class="container">

            <div class="row">
                 <div class="col-lg-6 col-sm-6">
                 	<div class="movieimg">
                         <a href="/movies"> <img class="img-responsive" src="assets/images/movies/1.jpg" alt="book3"> </a>
                         <a href="#"> <img class="img-responsive" src="assets/images/movies/2.jpg" alt="book3"> </a>
                         <a href="#"> <img class="img-responsive" src="assets/images/movies/3.jpg" alt="book3"> </a>
                 	</div> 
                </div>
                <div class="col-lg-5 col-sm-6" id="movie-info">
                    <p class="lead-1"><a href="#"> SEE MORE</a> <img src="assets/images/movie.png" alt="book3" width="25" height="25" style="margin-bottom: 3px;"></p>
                    <hr class="section-heading-spacer-2">
                    <div class="clearfix"></div>
                    <div class="home-text">
	                    <h2 class="section-heading"> MOST FAMOUS MOVIES</h2>
	                    <p class="lead">A special thanks to for providing the photographs that you see in this template. Visit their website to become a member.</p>
                	</div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <p class="lead-0"><img src="assets/images/music-icon.png" alt="" width="25" height="25" style="margin-bottom: 3px;"><a href="#"> LISTEN MORE</a></p>
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <div class="home-text">
	                    <h2 class="section-heading">FAIR-SOUNDING MUSIC</h2>
	                    <p class="lead">This template features the 'Lato' font, part of the , as well as icons from Font Awesome.</p>
	                </div>
                </div>
                 <div  id="inline">            
                    <a href="#"> <img class="img-responsive" src="assets/images/musics/1.jpg" alt="book1"> </a>
                    <a href="#"> <img class="img-responsive" src="assets/images/musics/2.jpg" alt="book2"> </a>
                    <a href="#"> <img class="img-responsive" src="assets/images/musics/3.jpg" alt="book3"> </a>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
</div>
